<div class="product-panel">

  @if(!addProduct()) {
    <button mat-raised-button class="new-product" (click)="showAddProductForm()">Añadir Producto</button>
  }

  @if (!addProduct()) {
    <app-products-table [products]="productList()" (editProduct)="editProduct($event)"></app-products-table>
  } @else {
    <app-add-product (goBack)="showAddProductForm()"
                     (productSaved)="addProductToList($event)"
                     [productToEdit]="productToEditSelected"></app-add-product>
  }
</div>
