.example-container {
  width: 100%;
  height: 100dvh;
}

.example-sidenav {
  width: 250px;
  background-color: #3c3f58;
  color: white;
  padding-top: 1rem;
  border-right: 1px solid #2e2e42;
}

.navBarHeader {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navBarHeader .list-option {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.navBarHeader .list-option:hover {
  background-color: #374785;
  color: white;
}

.navBarHeader .list-option a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.navBarHeader .option-selected {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  border-left: 4px solid #ffffff;
}

.example-sidenav-content {
  padding: 10px;
  background-color: #f5f5f5;
  min-height: 10vh;
}

/* Estilo del botón de menú */
button[maticonbutton] {
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[maticonbutton]:hover {
  background-color: #e0e0e0;
}


