<div class="orders-container">
  @if(ordering) {
    <app-products-view [products]="products()" (productsSelectedToOrder)="productsSelected($event)"></app-products-view>
    <div class="cancel-button-container">
      <button class="margin-2-px" mat-stroked-button (click)="this.ordering = !this.ordering">Cancelar</button>
      <button class="margin-2-px" mat-flat-button [disabled]="!orderingProducts().length" (click)="doOrder()">Hacer Pedido</button>
    </div>
  }
  @if(!ordering) {
    <button class="order-button" (click)="this.ordering = !this.ordering">ORDENAR</button>
  }
</div>
