.orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
}

.order-button {
  width: 450px;
  height: 150px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  font-size: 45px;
  font-family: cursive;
  background: radial-gradient(#afecbd, #59bf71);
  transition-property: font-size, border;
  transition-duration: 0.5s, 0.1s;
}

.order-button:hover {
  font-size: 46px;
  border: black solid 2px;
}

.cancel-button-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
