.add-product {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.image-container {
  display: flex;
  align-items: center;
  object-fit: contain;
}
